<!DOCTYPE html>
<html>
<head>
    <title>Update User (Demo Page)</title>
</head>
<body>
    <h1>User List (Update Page)</h1>
    <table border="1" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
        </tr>
        {% endfor %}
    </table>
    <p>This page is a placeholder for update functionality. No form implemented.</p>
    <a href="/">Back to Home</a>
</body>
</html>
